section.blog
    .container
        +blockBox("Our stories","Latest blog")
        .blog-list
            +blogItem("../images/img-blog1.png","15","Jan","Lorem ipsum dolor sit amet","Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.","542","17")
            +blogItem("../images/img-blog2.png","14","Jan","sed do eiusmod tempor","Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.","992","42")
            +blogItem("../images/img-blog3.png","12","Jan","incididunt ut labore et dolore","Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.","1500","98")