footer.footer
    .container
        .footer-top
            .footer-mogo
                h3.footer-heading.footer-mogo-heading  MoGo
                p.footer-mogo-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                h5.footer-follower 15K <span class="footer-span"> followers </span>
                .footer-social
                    p.footer-social-name Follow Us :
                    .footer-social-list
                        a(href="").footer-social-link 
                            i.fab.fa-facebook-f.footer-social-item
                        a(href="").footer-social-link 
                            i.fab.fa-twitter.footer-social-item
                        a(href="").footer-social-link 
                             i.fas.fa-camera-retro.footer-social-item
                        a(href="").footer-social-link 
                             i.fab.fa-pinterest-p.footer-social-item
                        a(href="").footer-social-link 
                             i.fab.fa-google-plus-g.footer-social-item
                form.footer-form
                    input(type="email", name="" placeholder="Your Email...").footer-form-input
                    button.footer-form-button Subscribe
            .footer-blogs
                h3.footer-heading.footer-blogs-heading  Blogs
                .footer-blogs-item
                    img(src="../images/img-blogs1.png", alt="").footer-blogs-image
                    .footer-blogs-info
                        .footer-blogs-title Lorem, ipsum dolor sit amet consectetur adipisicing
                        .footer-blogs-date Jan 9 2016
                .footer-blogs-item
                    img(src="../images/img-blogs2.png", alt="").footer-blogs-image
                    .footer-blogs-info
                        .footer-blogs-title Lorem, ipsum dolor sit amet consectetur adipisicing
                        .footer-blogs-date Jan 9 2016
                .footer-blogs-item
                    img(src="../images/img-blogs3.png", alt="").footer-blogs-image
                    .footer-blogs-info
                        .footer-blogs-title Lorem, ipsum dolor sit amet consectetur adipisicing
                        .footer-blogs-date Jan 9 2016
                
            .footer-instagram
                h3.footer-heading.footer-instagram-heading  Instagram 
                .footer-instagram-list 
                    img(src="../images/img-instagram1.png", alt="").foorter-instagram-item 
                    img(src="../images/img-instagram1.png", alt="").foorter-instagram-item 
                    img(src="../images/img-instagram1.png", alt="").foorter-instagram-item 
                    img(src="../images/img-instagram1.png", alt="").foorter-instagram-item 
                    img(src="../images/img-instagram1.png", alt="").foorter-instagram-item 
                    img(src="../images/img-instagram1.png", alt="").foorter-instagram-item 
                    img(src="../images/img-instagram1.png", alt="").foorter-instagram-item 
                    img(src="../images/img-instagram1.png", alt="").foorter-instagram-item 
                    img(src="../images/img-instagram1.png", alt="").foorter-instagram-item 
                p.footer-instagram-text View more photos
        .footer-bottom
            .footer-bottom-content &copy; 2016 MoGo free PSD template by <a href="#" class="footer-Laaqiq">Laaqiq</a> 