section.quote 
    .container
        .quote-container
            .quote-item
                .quote-icon
                    img(src="../images/img-quote.png", alt="").quote-image
                .quote-info
                    p.quote-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti ad aspernatur mollitia eveniet excepturi quidem harum natus corrupti. At, expedita adipisci dicta assumenda esse est voluptatibus ipsa alias doloremque nisi!
                    span.quote-author Jon Doe