section.services
    .container
        +blockBox("We work with","Amazing services")
        .services-list
            +servicesItem("photography","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.","far fa-clock")
            +servicesItem("web design","Standing a few meters ahead of or behind the starting line does not make much of a difference.","fas fa-swatchbook")
            +servicesItem("creativity","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ","fas fa-desktop")
            +servicesItem("seo","Standing a few meters ahead of or behind the starting line does not make much of a difference.","fas fa-book-open")
            +servicesItem("css/html","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt","fas fa-house-damage")
            +servicesItem("digital","Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.","fas fa-digital-tachograph")