section.team 
    .container
        +blockBox("Who we are","Meet our team","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .team-list
            +teamItem("../images/img-team1.jpg","Lê Phúc Thành","Front-end Developer")
                +socialItem("https://www.facebook.com/ilovetechnologys/")
            +teamItem("../images/img-team2.png","Phan Minh Huy","Graphic Design")
                +socialItem("https://www.facebook.com/Megalomaniac113")
            +teamItem("../images/img-team3.png","Nguyễn Huy Trường","Froduct owner")
                +socialItem("https://www.facebook.com/profile.php?id=100004913205492")