section.wedo 
    .container
        +blockBox("Sevices","What we do","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ")
        .wedo-container
            img.wedo-image(src="../images/img-wedo.png", alt="")
            .wedo-list 
                +wedoItem("../images/img-wedo-icon1.png","Photography","fal fa-chevron-up","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.","isActivate")
                +wedoItem("../images/img-wedo-icon2.png","Creativity","fal fa-chevron-down")
                +wedoItem("../images/img-wedo-icon3.png","Web design","fal fa-chevron-down")
