section.work
    .container
        +blockBox("What we do","Some Of our work","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    .work-grid
        +workItem("../images/img-work1.png","far fa-image","Creatively designed","Lorem, ipsum dolor sit amet")
        +workItem("../images/img-work2.png","far fa-image","Creatively designed","Lorem, ipsum dolor sit amet")
        +workItem("../images/img-work3.png","far fa-image","Creatively designed","Lorem, ipsum dolor sit amet")
        +workItem("../images/img-work4.png","far fa-image","Creatively designed","Lorem, ipsum dolor sit amet")
        +workItem("../images/img-work5.png","far fa-image","Creatively designed","Lorem, ipsum dolor sit amet")
        +workItem("../images/img-work6.png","far fa-image","Creatively designed","Lorem, ipsum dolor sit amet")
        +workItem("../images/img-work7.png","far fa-image","Creatively designed","Lorem, ipsum dolor sit amet")