extends layout/layout

block vars
	-title = 'Welcome To Blog Group Poor'
	-bodyClass = 'home-page'

block container
	include blocks/about
	include blocks/number
	include blocks/services
	include blocks/devices
	include blocks/wedo
	include blocks/quote
	include blocks/team
	include blocks/logo
	include blocks/work
	include blocks/quote
	include blocks/people
	include blocks/blog
	include blocks/map
